<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- You should properly set the path from the main file. -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contaccs/style.css' %}">
    <title>contaccs</title>
  </head>
  <body>
    <div class="container" style="padding: 5vw">
      <div class="row">
	<div class="column">
	  <h2>contacts</h2>
	</div>
      </div>
      {% block body %}
      <div class="row">
	<div class="column">
	  <a class="button button-black" href="/api/contacts/form/">add contact</a>
	  <br>
	</div>
	<div class="column">
	  <form action="/api/contacts/" method="get">
	    <input type="text" placeholder="name" name="name">
	    <input type="text" placeholder="last name" name="lastname">
	    <input class="button" type="submit" value="filter">
	    <a class="button button-black button-outline" href="/api/contacts/">clear filter</a>
	  </form>
	</div>
      </div>
      <div class="row">
	<div class="column">
	  <table>
	    <thead>
	      <tr>
		<th>Contact name</th>
		<th>Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for contact in page_obj.object_list %}
	      <tr>
		<td>{{contact.name}} {{contact.lastname}}</td>
		<td><a class="button" href="/api/contacts/read/{{ contact.id }}">view</a>
		<a class="button button-red" href="/api/contacts/deleteconfirm/{{ contact.id }}">del</a>
		<a class="button button-blue" href="/api/contacts/updateform/{{ contact.id }}">mod</a></td>
	      <tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
      <div class="row">
	
	<div class="column">
	  <center>
            {% if page_obj.has_previous %}          
            <a class="button button-black" href="?page={{ page_obj.previous_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">previous</a>
            {% endif %}
	  </center>
	</div>
	<div class="column">
	  <center>
          <h5><b>{{ page_obj.number }}/{{ page_num }}</b></h5>
	  
	</center>
	</div>
	<div class="column">
	  <center>
          {% if page_obj.has_next %}
          <a class="button button-black" href="?page={{ page_obj.next_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">next</a>
          {% endif %}

	  </center>
	</div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
