{% extends "contaccs/contact_list.html" %}

{% block body %}

<div class="row">
  <div class="column">
    <table>
      <tbody>
	<tr>
	  <td><b>Name<b></td>
	  <td><b>Last name<b></td>
	  <td><b>Company<b></td>
	  <td><b>Phone number<b></td>
	  <td><b>Email<b></td>
	</tr>
	<tr>
	  <td>{{ contact.name }}</td>
	  <td>{{ contact.lastname }}</td>
	  <td>{{ contact.company }}</td>
	  <td>{{ contact.phone_number }}</td>
	  <td>{{ contact.email }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="column">
    <a class="button button-black" href="/api/contacts/deleteconfirm/{{ contact.id }}" style="width:49%">del</a>
    <a class="button button-black button-outline" href="/api/contacts/updateform/{{ contact.id }}" style="float:right; width:49%">mod</a></td>
  </div>
</div>
<div class="row">
  <div class="column">
    <hr>
    <a class="button"  style="width:100%" href="/api/contacts/">home</a>
  </div>
</div>

{% endblock %}
