{% extends "contaccs/contact_list.html" %}

{% block body %}

<div class="row">
  <div class="column">
    <h5>Name:</h5>
    <strong>{{ contact.name }}</strong>
    <hr>
  </div>
</div>
<div class="row">
  <div class="column">
    <h5>Last name:</h5>
    <strong>{{ contact.lastname }}</strong>
    <hr>
  </div>
</div>
<div class="row">
  <div class="column">
    <h5>Company:</h5>
    <strong>{{ contact.company }}</strong>
    <hr>
  </div>
</div>
<div class="row">
  <div class="column">
    <h5>Phone number:</h5>
    <strong>{{ contact.phone_number }}</strong>
    <hr>
  </div>
</div>
<div class="row">
  <div class="column">
    <h5>email:</h5>
    <strong>{{ contact.email }}</strong>
    <hr>
  </div>
</div>
<div class="row">
  <div class="column">
    <a class="button button-black" href="/api/contacts/deleteconfirm/{{ contact.id }}" style="width:49%">del</a>
    <a class="button button-black button-outline" href="/api/contacts/updateform/{{ contact.id }}" style="float:right; width:49%">mod</a></td>
  </div>
</div>
<div class="row">
  <div class="column">
    <hr>
    <a class="button"  style="width:100%" href="/api/contacts/">home</a>
  </div>
</div>

{% endblock %}
