

/* Custom color */
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: black;
    border-color: black;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button-black {
  background-color: black;
  border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.button-black.button-clear {
  border-color: transparent;
}

.button-red {
  background-color: red;
  border-color: red;
}

.button-blue {
  background-color: blue;
  border-color: blue;
}


@media (max-width: 40rem) {
    .row { 
     flex-direction: row; 
     margin-left: -1.0rem; 
     width: calc(100% + 2.0rem); 
   } 
   .row .column { 
     margin-bottom: inherit; 
     padding: 0 1.0rem; 
   } 
}
